<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>

<h1>Todo</h1>


<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Done</th>
        <th>Starred</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.description}"></td>
        <td th:text="${todo.done ? 'Yes' : 'No'}"></td>
        <td th:text="${todo.starred ? 'Yes' : 'No'}"></td>
        <td>
            <form th:action="@{/v1/todos/{id}(id=${todo.id})}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
