<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link href="../static/css/styles.css"
          th:href="@{/css/styles.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<h1>Todo List</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Is Done</th>
        <th>Is Starred</th>
        <th>Actions</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="todo : ${todos}"
        th:attr="data-id=${todo.id}"

    >
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.description}"></td>
        <td th:text="${todo.done} ? 'Yes' : 'No'"></td>
        <td th:text="${todo.starred} ? 'Yes' : 'No'"></td>
        <td>
            <button id = "deleteButton">Delete</button>
            <button id = "updateButton">Update</button>
        </td>
    </tr>
    </tbody>
</table>
<div class="create-link">
    <button id="createTodoLink">Create New Todo</button>

</div>
<div class="modal" id="myModal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id = "formTitle">Create New Todo</h2>
        <form id="createTodoForm">
            <label for="title">Title:</label><br>
            <input  type="text" id="title" name="title"><br>
            <label for="description">Description:</label><br>
            <textarea id="description" name="description"></textarea><br>
            <label for="isDone">Is Done:</label>
            <input type="checkbox" id="isDone" name="isDone" value="true"><br>
            <label for="isStarred">Is Starred:</label>
            <input type="checkbox" id="isStarred" name="isStarred" value="true"><br><br>
            <input type="submit" value="Submit" id = "formActionButton">
        </form>
    </div>
</div>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var modal = document.getElementById('myModal');
        var closeBtn = document.getElementsByClassName("close")[0];
        var createTodoLink = document.getElementById('createTodoLink');

        // Function to open the modal
        function showModal() {
            modal.style.display = "block";
        }

        // Function to close the modal
        function closeModal() {
                var todoForm = document.getElementById('createTodoForm');
                todoForm.reset();
            modal.style.display = "none";
        }

        // Close the modal when clicking on the close button
        closeBtn.onclick = function() {
            closeModal();
        };

        // Close the modal when clicking anywhere outside of it
        window.onclick = function(event) {
            if (event.target == modal) {
                closeModal();
            }
        };

        // Open the modal when clicking on the "Create New Todo" link
        createTodoLink.onclick = function(event) {
            event.preventDefault(); // Prevent the default link behavior
            showModal();
        };
    });
</script>
<script th:inline="javascript">
    /* JavaScript to submit form via AJAX */
    document.addEventListener("DOMContentLoaded", function() {
    var createTodoForm = document.getElementById('createTodoForm');

    createTodoForm.addEventListener('submit', function(event) {
        event.preventDefault();

        var formActionButton = document.getElementById('formActionButton');




              var formData = {
                title: document.getElementById('title').value,
                description: document.getElementById('description').value,
                done: document.getElementById('isDone').checked,
                starred: document.getElementById('isStarred').checked
            };

            if (formActionButton.value === 'Update') {
                var id = document.querySelector('tr[data-id]').getAttribute('data-id');
                formData.id = id;

                fetch('/v1/todos/' + id, {
                    method: 'PUT',
                    body: JSON.stringify(formData),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response) {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    console.log('Todo updated successfully');
                    closeModal();
                }).catch(function(error) {
                    console.error('Error:', error);
                });
            }
        fetch('/v1/todos/create', { // Update the endpoint to /v1/todos/create
            method: 'POST',
            body: JSON.stringify(formData),
              headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(function(response) {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            console.log('Todo created successfully');
            closeModal(); // Close modal after successful submission
        })
        .catch(function(error) {
            console.error('Error:', error);
        });
    });
    function closeModal() {

        var modal = document.getElementById('myModal');
        modal.style.display = "none";
    }
     function showModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = "block";
    }
});
</script>
<script>
    var deleteButton = document.getElementById('deleteButton');

deleteButton.addEventListener('click', function(event) {
    event.preventDefault();
    var row = event.target.parentNode.parentNode;
    var id = row.getAttribute('data-id');
    console.log('Delete button clicked for row with id: ' + id);

    fetch('/v1/todos/' + id, {
        method: 'DELETE'
    })
    .then(function(response) {
        if (!response.ok) {
            throw new Error('HTTP error, status = ' + response.status);
        }
        console.log('Todo with id ' + id + ' deleted successfully');
        row.parentNode.removeChild(row); // Remove the row from the table
    })
    .catch(function(error) {
        console.error('Error:', error);
    });
});

</script>
<script>
    var updateButtons = document.querySelectorAll('#updateButton');

updateButtons.forEach(function(button) {
    button.addEventListener('click', function(event) {
        event.preventDefault();
        var row = event.target.parentNode.parentNode;
        var title = row.querySelector('td:nth-child(1)').textContent;
        var description = row.querySelector('td:nth-child(2)').textContent;
        var isDone = row.querySelector('td:nth-child(3)').textContent.trim() === 'Yes';
        var isStarred = row.querySelector('td:nth-child(4)').textContent.trim() === 'Yes';

        console.log('Update button clicked for row with title: ' + title);
        document.getElementById('title').value = title;
        document.getElementById('description').value = description;
        document.getElementById('isDone').checked = isDone;
        document.getElementById('isStarred').checked = isStarred;

        var formTitle = document.getElementById('formTitle');
        formTitle.textContent = 'Update Todo';

        var formActionButton = document.getElementById('formActionButton');
        formActionButton.value = 'Update';
        showModal();



    });
});

        function closeModal() {

        var modal = document.getElementById('myModal');
        modal.style.display = "none";
    }
     function showModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = "block";
    }



</script>

</body>
</html>
